#!/bin/bash
##############################################################
# Last update: 21-OKT-2017
##############################################################

# CN
CA_COMMON_NAME="The company Certficate Autority"

# certificate value: C
CA_COUNTRY_CODE="NL"

# certificate value: O
ORGANISATION="The OS Company"

# certificate value: OU
ORGANISATION_UNIT="Certificate Center"

# certificate value: S
ORGANISATION_STATE_OR_PROVINCE="NH"

# certificate value: L
ORGANISATION_CITY="Amsterdam"

# certificate value: ST
ORGANISATION_STREET="Kalverstraat 999228"

#subjROOTCA="/CN=My Self Signed Certficate/C=NL/ST=Nederland/O=MyOrg/OU=Certificate Authority Factory"

#CERT_DIR_SERVERS=server_certs

#SERVER=example.com

# Alice Ltd Root
#subjROOTCA="/CN=Alice Ltd Root CA/C=GB/ST=England";
#subjROOTCA+="/O=Alice Ltd/OU=Alice Ltd Certificate Authority"

# Alice Ltd Intermediate
#subjINTERMEDIATE="/CN=Alice Ltd Intermediate CA/C=GB/ST=England"
#subjINTERMEDIATE+="/O=Alice Ltd/OU=Alice Ltd Certificate Authority"
