#!/bin/bash
##############################################################
# Last update: 08-SEP-2018
##############################################################

# Username WITHOUT domain. Like john.doe or jdoe.
EMAIL_USER_NAME=rob

SURNAME=Lassche

GIVEN_NAME=Rob

# certificate value: C
#SERVER_COUNTRY_CODE="NL"

# certificate value: O
ORGANISATION="Rotterdam Office"

# certificate value: OU
ORGANISATION_UNIT="Development"

# certificate value: S
#ORGANISATION_STATE_OR_PROVINCE="ZH"

# certificate value: L
#ORGANISATION_CITY="Rotterdam"

# certificate value: ST
#ORGANISATION_STREET="Blaak 45679"
