#!/bin/bash
##############################################################
# Last update: 08-SEP-2018
##############################################################

# CN
SERVER_COMMON_NAME=srv_rotterdam01.local

EMAIL=rob@${SERVER_COMMON_NAME}

# certificate value: C
#SERVER_COUNTRY_CODE="NL"

# certificate value: O
#ORGANISATION="The OS Company"

# certificate value: OU
#ORGANISATION_UNIT="Rotterdam Office"

# certificate value: S
#ORGANISATION_STATE_OR_PROVINCE="ZH"

# certificate value: L
#ORGANISATION_CITY="Rotterdam"

# certificate value: ST
#ORGANISATION_STREET="Blaak 45679"
