#!/bin/bash
##############################################################
# Last update: 21-OKT-2017
##############################################################

# CN
SERVER_COMMON_NAME=srv_rotteram01.local

# certificate value: C
SERVER_COUNTRY_CODE="NL"

# certificate value: O
ORGANISATION="The OS Company"

# certificate value: OU
ORGANISATION_UNIT="Rotterdam Office"

# certificate value: S
ORGANISATION_STATE_OR_PROVINCE="ZH"

# certificate value: L
ORGANISATION_CITY="Rotterdam"

# certificate value: ST
ORGANISATION_STREET="Blaak 45679"

#subjROOTCA="/CN=My Self Signed Certficate/C=NL/ST=Nederland/O=MyOrg/OU=Certificate Authority Factory"

#CERT_DIR_SERVERS=server_certs

#SERVER=example.com

# Alice Ltd Root
#subjROOTCA="/CN=Alice Ltd Root CA/C=GB/ST=England";
#subjROOTCA+="/O=Alice Ltd/OU=Alice Ltd Certificate Authority"

# Alice Ltd Intermediate
#subjINTERMEDIATE="/CN=Alice Ltd Intermediate CA/C=GB/ST=England"
#subjINTERMEDIATE+="/O=Alice Ltd/OU=Alice Ltd Certificate Authority"
