#!/bin/bash
##############################################################
# Last update: 21-OKT-2017
##############################################################

CA_COMMON_NAME="The company Certficate Autority
CA_COUNTRY="Nederland"
ORGANISATION="The company"
ORGANISATION_UNIT="Certificate Center"

subjROOTCA="/CN=My Self Signed Certficate/C=NL/ST=Nederland/O=MyOrg/OU=Certificate Authority Factory"

CERT_DIR_SERVERS=server_certs

SERVER=example.com

# Alice Ltd Root
#subjROOTCA="/CN=Alice Ltd Root CA/C=GB/ST=England";
#subjROOTCA+="/O=Alice Ltd/OU=Alice Ltd Certificate Authority"

# Alice Ltd Intermediate
#subjINTERMEDIATE="/CN=Alice Ltd Intermediate CA/C=GB/ST=England"
#subjINTERMEDIATE+="/O=Alice Ltd/OU=Alice Ltd Certificate Authority"
